/* Custom CSS */
body{
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
.logo_sony{
    width: 80px;
    padding: 10px 0;
}

.btn{
    border-radius: 20px;
}

.bi-search{
    font-size: 24px;
}

header .btn{
    margin: 0 20px;
}

@media all and (max-width:991px) {
    header .btn{
        margin: 0 0;
    }
}
/* /HEADER */

/* SECTION 1 - HERO */
#hero_1{
    margin-top: 110px;
}

.logo-hero{
    width: 325px;
}

.ms_hero .title-hero{
    font-size: 45px;
    padding: 20px 0;
}

.ms_hero .text-hero{
    padding-bottom: 20px;
    font-weight: 600;
}

.ms_hero{
    height: 650px;
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.ms_hero .container-fluid{
    position: absolute;
    top: 300px;
}
/* /SECTION 1 - HERO */
