/* Custom CSS */
body{
    font-family: Arial, Helvetica, sans-serif;
}

body h1{
    font-size: 45px;
}

/* HEADER */
.logo_sony{
    width: 80px;
    padding: 10px 0;
}

.btn{
    border-radius: 20px;
}

.btn:hover{
    outline-style: double;
    outline-width: 2px;
    outline-color: blue;
    outline-offset: 3px;
}

header .btn:hover{
    outline-style: double;
    outline-width: 2px;
    outline-color: black;
    outline-offset: 3px;
}

.bi-search{
    font-size: 24px;
}

header .btn{
    margin: 0 20px;
}

@media all and (max-width:991px) {
    header .btn{
        margin: 0 0;
    }
}
/* /HEADER */

/* DROPDOWN */
ul.dropdown-menu{
    background-color: white;
    border: none;
    width: 100%;
    border-radius: 0;
}

.navbar{
    padding-bottom: 0;
}

header .nav-item{
    position: static;
}

ul.ms_ul_links {
    list-style: none;
  }
  
ul.ms_ul_links li::before {
    content: "\2022";
    color: blue;
    font-weight: bold;
    margin-right: 10px;
}

.ms_link_divider{
    margin: 0 20px 0 0;
}

.ms_ps5_icon{
    width: 60%;
    margin: 0 auto;
}


/* /DROPDOWN */

/* SECTION 1 - HERO */
#hero_1{
    margin-top: 110px;
}

.logo-hero{
    width: 325px;
}

.ms_hero .title-hero{
    padding: 20px 0;
}

.ms_hero .text-hero{
    padding-bottom: 20px;
    font-weight: 600;
}

.ms_hero{
    height: 650px;
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.ms_hero .container{
    position: absolute;
    top: 300px;
}

#hero_1 .btn:hover{
    outline-style: double;
    outline-width: 2px;
    outline-color: red;
    outline-offset: 3px;
}
/* /SECTION 1*/

/* SECTION 2 - BOX GAMES */
.ms_game{
    width: 100%;
    border-radius: 20px;
}
/* /SECTION 2 */

/* /SECTION 3 - INTRO*/
.ms_subtitle{
    color: #0474cf;
    font-weight: bold;
}

.ms_description{
    font-weight: bold;
    font-size: 21px;
    color: #787878;
}
/* SECTION 3 */

/* SECTION 4 - CONSOLE PS5*/
.featured_img{
    width: 100%;
}

.ms_box_ps5{
    width: 100%;
}

@media all and (min-width:768px) {
    .ms_box_ps5{
        width: 60%;
    }
}

.ms_opacity{
    opacity: 0.6;
}

.ms_active{
    border-bottom: solid 3px #0d79d0;
}

.ms_opacity:hover{
    opacity: 1;
    border-bottom: solid 3px #0d79d0;
}
/* SECTION 4 */

/* SECTION 5 - HERO 2*/
#hero_2{
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
}

#hero_2 .container{
    position: absolute;
    top: 50px;
}

#hero_2 .btn:hover{
    outline-style: double;
    outline-width: 2px;
    outline-color: red;
    outline-offset: 3px;
}
/* /SECTION 5 */

/* SECTION 6 - NEW ARRIVALS */
#new-arrivals{
    background-color: #1f1f1f;
}

#new-arrivals .ms_title{
    font-size: 35px;
}

.new_game_img{
    width: 100%;
    border-radius: 20px;
}

.new_game_title{
    font-size: 18px;
}
/* /SECTION 6 */

/* SECTION 7-8 - CONSOLE PS4 */
.box_ps4 .ms_description{
    font-size: 19px;
}
/* /SECTION 7-8 */

/* SECTION 9 - PS PLUS */
#ps_plus{
    background-color: #bebcbb;
}

#ps_plus .featured_img{
    width: 65%;
}

.ms_plus_games{
    width: 100%;
}
/* /SECTION 9 */

/* SECTION 11 - PS NOW */
#ps_now{
    background-color: #161c3b;
}

#ps_now .featured_img{
    width: 65%;
}

#ps_now .btn:hover{
    outline-style: double;
    outline-width: 2px;
    outline-color: black;
    outline-offset: -4px;
}
/* /SECTION 11 */

/* SECTION 12 - SOCIAL */
.ms_social_logo{
    width: 100%;
}

#social .container{
    max-width: 576px;
}
/* /SECTION 12 */

/* FOOTER */
footer{
    background-color: #00439c;
}

.ms_logo_footer{
    width: 100px;
}

.ms_sie{
    width: 150px;
}

@media all and (min-width:768px){
    .copyright{
        font-size: 15px;
    }
}
/* /FOOTER */